.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.add-task {
  margin-bottom: 20px;
}

.app-div {
  width: 1000px;
  margin: auto;
  text-align: center;
}

.items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.cart-center {
  text-align: center;
}

table,
tr,
td {
  border: 1px solid;
  width: 80%;
  text-align: center;
}

h1 {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
